/* @Author: Francisco Zapata */


/** Reset the document **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: x mandatory;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}


/** Custom Properties **/

:root {
    --primary: #9c27b0;
    --darkPrimary: #89119d;
    --secundary: #ffce00;
    --darkSecundary: rgb(233, 287, 3);
    --white: #fff;
    --black: #000;
    --principalFont: 'Staatliches', Verdana, Sans-serif;
}


/** Globals **/

body {
    font-size: 16px;
    background-color: var(--primary);
    line-height: 1.3;
}

p {
    font-size: 1.6rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--white);
}

@media (min-width: 992px) {
    P {
        font-size: 1.8rem;
        line-height: 1.3;
    }
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundary);
    font-family: var(--principalFont);
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.3;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
        line-height: 1.3;
    }
}

h2 {
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.8rem;
        line-height: 1.3;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 3.2rem;
        line-height: 1.3;
    }
}

h3 {
    font-size: 1.7rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.9rem;
        line-height: 1.3;
    }
}

@media (min-width: 992px) {
    h3 {
        font-size: 2.1rem;
        line-height: 1.3;
    }
}

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

.navegation {
    background-color: var(--darkPrimary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.navegation__link {
    font-family: var(--principalFont);
    color: var(--white);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-right: 4rem;
}

.navegation__link:last-of-type {
    margin-right: 0;
}

.navegation__link--active,
.navegation__link:hover {
    color: var(--secundary);
}


/** Footer **/

.footer {
    background-color: var(--darkPrimary);
    color: var(--white);
    margin-top: 3rem;
    padding: 2rem 0;
}

.footer__text {
    text-align: center;
    font-family: var(--principalFont);
}


/** Grid **/

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2rem;
}

.grid__image1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.grid__image2 {
    grid-row: 8 / 9;
    grid-column: 1 / 3;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid__image1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    .grid__image2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/** Products **/

.grid__product {
    background-color: var(--darkPrimary);
    padding: 1rem;
    line-height: 1.3;
}

.grid__product--image {
    width: 100%;
}

.grid__product--info {}

.grid__product--name {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.grid__product--price {
    font-size: 1.8rem;
    color: var(--secundary);
}

@media (min-width: 992px) {
    .grid__product--name {
        font-size: 2.6rem;
    }
    .grid__product--price {
        font-size: 2.2rem;
    }
}


/** NOSOTROS PAGE **/

.us__text p {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .us__text {
        grid-row: 1 / 2;
    }
    .us__text p:first-of-type {
        margin-top: 0;
    }
}

.buyWithUs {
    margin: 6rem 0;
}

.buyWithUs__why {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 992px) {
    .buyWithUs__why {
        grid-template-columns: repeat(4, 1fr);
    }
}

.buyWithUs__why--icons {
    text-align: center;
}

.buyWithUs__why--icons img {
    width: 70%;
}

.buyWithUs__why--icons h3 {
    margin: 0;
}

.buyWithUs__why--icons p {
    padding-top: 1rem;
}


/** PRODUCT PAGE **/

.product__image {
    background-color: var(--darkPrimary);
    padding: 1rem;
    width: 100%;
}

@media (min-width: 992px) {
    .product {
        margin: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.product__info p {
    margin-bottom: 6rem;
}

.product__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.product__form--size,
.product__form--quant {
    border: 1rem solid var(--darkPrimary);
    background-color: transparent;
    color: var(--white);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.product__form--submit {
    background-color: var(--secundary);
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: var(--principalFont);
    padding: 2rem;
    transition: background-color .3s ease-in-out;
    grid-column: 1 / 3;
}

.product__form--submit:hover {
    cursor: pointer;
    background: var(--darkSecundary);
}